@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400');

html{
    height: 100%;
}

body{
    background-image:linear-gradient(60deg, #FFC3FC, #6AB2FC);
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
}
.main-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    width: 800px;
    color:#FFF;
}
.content>p{
    margin-top: 20px;
    line-height: 35px;
    font-size: 15px;
}

/* Form styling */
form label, input[type="text"]{
    color: #FFF;
    letter-spacing: .11em;
    margin-right:.2em;
    font-weight: 300;
}
input{
    color: rgb(255,255,255);
    background: none;
    border: none;
    border-bottom: 3px solid white;
    padding-bottom: 2px;
    caret-color: #FFF;
}
input[type="text"]{
    color: rgb(255,255,255);
}

::-webkit-input-placeholder, ::-webkit-datetime-edit { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,0.5);
}

::-webkit-inner-spin-button { 
    display: none;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}
::-webkit-calendar-picker-indicator:hover {
    background: none;
}


input:focus{
    outline: none;
}

.event-submit{
    border: 3px solid rgba(255,255,255,0);
    border-radius: 30px;
    margin: 10px;
    width: 150px;
    background-color: rgba(255,255,255,1);
    transition: .1s all ease-in-out;
    color: #AFAFAF;
}
.event-submit:hover{
    background-color: rgba(255,255,255,0);
    border: 3px solid rgba(255,255,255,1);
    color: #FFF;
}


#typeOfVenue{
    width: auto;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* radio styling (sounds retro haha)*/
input[type=checkbox]{
	position:absolute;
	left:-9999px;
}

label.venues{
    font-size: 12px;
    margin-right: 12px;
   	padding: 3px 10px;
   	color: #444;
   	text-align: center;
   	border:1px solid #444;
   	border-radius: 25px;
   	background-color: #FFF;     
   	white-space: nowrap;
   	cursor: pointer;
   	transition: background-color .2s;
}

input[type=checkbox]:checked+label.venues{
	color: #FFF;
	text-align: center;
	border: 1px solid #FFF;
	background-color: #FFC3FC;
	white-space: nowrap;
	cursor: pointer;
	transition: background-color .2s;
}
#filter-near{
    margin: 0 auto;
}

#filter-near>div{
    float: left;
}
.clearfix::after{
    content: '';
    clear: both;
    visibility: hidden;
    display: block;
    height: 0;
}
.infra-div{
    width:20%;
    text-align: center;
    font-size: 12px;
}
.infra-div img{
    width: 70px;
    height: 70px;
}

.filter-content-wrap{
    padding: 20px;
}
.filter-content-wrap>div{
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 0px;
}

#filter-component{
    width:500px;
    height: 100%;
    margin: 0px;
    top: 0px; left: 0px;
    background-color: #FFF;
}
#filter-component p{
    margin: 0;
}
#filter-title{
    float: left;
}
#filter-close{
    float: right;
    cursor: pointer;
}
.booking-container{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    height: 60vh;
    width:100vh;
    color: #444;    
    font-family: 'Nunito Sans', sans-serif;

} 

.booking-container label{
    color: #444;
}
.booking-container input{
    color: #444;
    background: none;
    border: none;
    border-bottom: 3px solid #444;
    padding-bottom: 2px;
    caret-color: #444;
}
.booking-container button{
    background-color: #8EC5FC;
    border: none;
    color: white;
    border-radius: 4px;;
}
/*  Map CSS  */
#map div{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0; left:0;
}

#show-map{
    height: 100%;
}